.navbar {
    display: flex;
    justify-content: space-around;
    width: 1440px;
    height: 70px;
    align-items: center;
    border-bottom: 1px solid lightgray;
    position: fixed;
    top: 0px;
    background-color: rgba(255, 255, 255, .9);
    z-index: 2;
}

.logo {
    font-weight: 800;
    font-size: calc(29rem/16);
    margin-left: 150px;
}

.web-blue {
    color: #11a4fa;
}

.craft-black {
    color: #1c1c1c;
    overflow: hidden;
    background: linear-gradient(to right, #11a4fa, #11a4fa 50%, #1c1c1c 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 475ms ease;
    text-decoration: none;
    &:hover {
      background-position: 0 100%;
    }
  }

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 70px;
}

/* .navbar ul li {
    font-size: 17px;
    font-weight: 500;
    margin: 0 20px 0 20px;
    overflow: hidden;
    background: linear-gradient(to right, red, red 50%, #1c1c1c 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 175ms ease;
    text-decoration: none;
    &:hover {
      background-position: 0 100%;
    }
  } */

.navbar ul li {
    font-size: calc(18rem/16);
    font-weight: 500;
    margin: 0 20px 0 20px;
    transition: .3s;
}

.navbar ul li:hover {
    color: #11a4fa;
    font-size: calc(18.5rem/16);
}

.work-with-us {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 40px;
  background-color: #292929;
  border-radius: 50px;
  color: white;
  margin-right: 130px;
  transition: .5s;
}

.work-with-us:hover {
  width: 200px;
}

#arrow .fa-solid, .fas {
  display: flex;
  font-size: calc(15rem/16);
  color: white;
  align-self: center;
  margin-top: 32px;
  margin-left: 9px;
}
