main {
    width: 1440px;
    background-color: lightgreen;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    height: 650px;
    background: url('./img8.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-info-container {
    display: flex;
    flex-direction: column;
    margin: 80px 520px 0px 0px;
}

.hero-s-h2 {
    font-size: calc(75rem/16);
    line-height: 1.1;
    width: 500px;
    color: #1c1c1c;  
    margin-bottom: -10px;
}

.type-effect {
    font-size: calc(75rem/16);
    margin-bottom: 15px;
    width: 450px;
    margin-top: 10px;
    line-height: 1;
    color: #11a4fa;   
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #38b6ff; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    animation: 
    typing 2.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 450px }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #1c1c1c; }
}

.hero-s-p {
    width: 450px;
    margin-bottom: 25px;
    font-size: calc(18rem/16);
}

.hero-btns-container {
    display: flex;
}

.hero-btns-container a {
    width: 90px;
    margin-right: 20px;
}

.hero-s-btn1 {
    display: flex;
    font-family: 'Outfit', sans-serif;
    width: 100px;
    height: 37px;
    color: #1c1c1c;
    font-size: calc(17rem/16);
    background-color: transparent;
    border: 1px solid #1c1c1c;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 70px;
    transition: .5s;
}

.hero-s-btn1:hover {
    background-color: #1c1c1c;
    color: white;
}

.hero-s-btn2 {
    font-family: 'Outfit', sans-serif;
    width: 160px;
    height: 37px;
    color: #2789c2;
    font-size: calc(17rem/16);
    cursor: pointer;
    border-radius: 70px;
    background: linear-gradient(to right, #1c1c1c 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    border: 1px solid #1c1c1c;
    padding: 0;
    margin-left: 5px;
}

.hero-s-btn2:hover {
  background-position: left bottom;
  color: white;
}

.services-section {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 750px;
    background-image: url(./img-service-section.png);
    background-size: cover;
    background-position: 0% 5%;
}

.services-section h6 {
    display: flex;
    align-self: center;
    padding: 5px 10px 5px 10px;
    margin: 100px 0 80px 0;
    font-size: calc(40rem/16);
    color: #1c1c1c;
    --h: 1.2em;   /* the height */
    linea-height: var(--h);
    color: #0000;
    overflow: hidden;
    text-shadow: 
      0 var(--_t,var(--h)) #fff,
      0 0 var(--_c,#000);
    background: 
      linear-gradient(#1c1c1c 0 0) 
      bottom/100% var(--_d, 0) no-repeat;
    transition: 0.3s;
    cursor: default;
}

.services-section h6:hover {
    --_d: 100%;
    --_t: 0;
    --_c: #0000;
}

.overall-services-container {
    display: flex;
    justify-content: space-around;
}

#services-container {
    width: 28%;
    height: 450px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 0 0px 0 0px;
    background-color: white;
    transition: .3s;
    cursor:default;
}

#services-container:hover {
    width: 29%;
    height: 460px;
}

.service1 {
    box-shadow: 0px 2px 40px 0px #a6a6a6;
    border: 1px solid #b0b0b0;
}

.service2 {
    box-shadow: 0px 2px 40px 0px #a6a6a6;
    border: 1px solid #b0b0b0;
}

.service3 {
    box-shadow: 0px 2px 40px 0px #a6a6a6;
    border: 1px solid #b0b0b0;
}

.fa-solid,
.fas {
    font-size: calc(85rem/16);
    color: #11a4fa;
    margin-bottom: 30px;
}

.service-title1 {
    font-size: calc(28rem/16);
    font-weight: bold;
    color: #1c1c1c;
}

.service-title2 {
    font-size: calc(28rem/16);
    font-weight: bold;
    color: #1c1c1c;
}

.service-title3 {
    font-size: calc(28rem/16);
    font-weight: bold;
    color: #1c1c1c;
}

.service-description1 {
    font-size: calc(17rem/16);
    line-height: 1.4;
    width: 350px;
    margin-top: 25px;
    color: #1c1c1c;
}

.service-description2 {
    font-size: calc(17rem/16);
    line-height: 1.4;
    width: 350px;
    margin-top: 25px;
    color: #1c1c1c;
}

.service-description3 {
    font-size: calc(17rem/16);
    line-height: 1.4;
    width: 350px;
    margin-top: 25px;
    color: #1c1c1c;
}

.why-us-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 650px;
    background-color: lightblue;
    background: url(why-us-section.png);
    background-size: cover;
}

.why-us-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;
    margin-left: 170px;
    margin-right: 40px;
}

.why-us-img-container {
    width: 600px;
    overflow: hidden;
    border-radius: 20px;
    margin-right: 160px;
}

.why-us-img {
    display: flex;
    width: 600px;
    height: 400px;
    margin-right: 200px;
    background: url(why-us-img.jpg);
    background-size: cover;
    border-radius: 20px;
    transition: .5s;
}

.why-us-img:hover {
    transform: scale(1.1);
}

.why-us-title {
    font-size: calc(34rem/16);
    margin-bottom: 7px;
    font-weight: bold;
    color: #1c1c1c;
    --h: 1.2em;   /* the height */
    linea-height: var(--h);
    color: #0000;
    overflow: hidden;
    text-shadow: 
      0 var(--_t,var(--h)) #fff,
      0 0 var(--_c,#000);
    background: 
      linear-gradient(#1c1c1c 0 0) 
      bottom/100% var(--_d, 0) no-repeat;
    transition: 0.3s;
    cursor: default;
    padding: 5px 10px 5px 10px;
}

.why-us-title:hover {
    --_d: 100%;
    --_t: 0;
    --_c: #0000;
}

.why-us-text {
    width: 500px;
    font-size: calc(18rem/16);
    margin-bottom: 60px;
    text-align: center;
    color: #1c1c1c;
    background-color: white;
    border-radius: 10px;
    line-height: 1.4;
    padding: 10px;
}

.why-us-decoration-line {
    width: 110px;
    height: 3px;
    background-color: #11a4fa;
    margin-bottom: 30px;
}

.testimonial-section {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 750px;
    background-image: url(./testimonial-section.png);
    background-size: cover;
    background-position: 0% 5%;
}

.testimonial-section h6 {
    display: flex;
    align-self: center;
    margin: 80px 0 80px 0;
    font-size: calc(40rem/16);
    color: #1c1c1c;
    --h: 1.2em;   /* the height */
    linea-height: var(--h);
    color: #0000;
    overflow: hidden;
    text-shadow: 
      0 var(--_t,var(--h)) #fff,
      0 0 var(--_c,#000);
    background: 
      linear-gradient(#1c1c1c 0 0) 
      bottom/100% var(--_d, 0) no-repeat;
    transition: 0.3s;
    cursor: default;
    padding: 5px 10px 5px 10px;
}


.testimonial-section h6:hover {
    --_d: 100%;
    --_t: 0;
    --_c: #0000;
}

.overall-testimonial-container {
    display: flex;
    justify-content: space-around;
}

#testimonial-container {
    width: 28%;
    height: 450px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin: 0 0px 0 0px;
    background-color: white;
    cursor:default;
    transition: .3s;
}

#testimonial-container:hover {
    width:29%;
    height: 460px;
}

.testimonial1 {
    box-shadow: 0px 2px 40px 0px #a6a6a6;
    border: 1px solid #b0b0b0;
}

.testimonial2 {
    box-shadow: 0px 2px 40px 0px #a6a6a6;
    border: 1px solid #b0b0b0;
}

.testimonial3 {
    box-shadow: 0px 2px 40px 0px #a6a6a6;
    border: 1px solid #b0b0b0;
}

.fa-solid,
.fas {
    font-size: calc(85rem/16);
    color: #11a4fa;
    margin-bottom: 30px;
}

.testimonial-title1 {
    font-size: calc(28rem/16);
    font-weight: bold;
    color: #1c1c1c;
}

.testimonial-title2 {
    font-size: calc(28rem/16);
    font-weight: bold;
    color: #1c1c1c;
}

.testimonial-title3 {
    font-size: calc(28rem/16);
    font-weight: bold;
    color: #1c1c1c;
}

.testimonial-description1 {
    font-size: calc(17rem/16);
    line-height: 1.4;
    width: 350px;
    margin-top: 0px;
    color: #1c1c1c;
}

.testimonial-description2 {
    font-size: calc(17rem/16);
    line-height: 1.4;
    width: 350px;
    margin-top: 0px;
    color: #1c1c1c;
}

.testimonial-description3 {
    font-size: calc(17rem/16);
    line-height: 1.4;
    width: 350px;
    margin-top: 0px;
    color: #1c1c1c;
}

.fa-solid, .fas, .fa-user {
    font-size: calc(78rem/16);
}

.stars i {
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: calc(18rem/16);
    color: #ffd006;
}

.blue-line {
    display: flex;
    align-self: center;
    margin-top: -70px;
    margin-bottom: 65px;
    width: 120px;
    height: 4px;
    background-color: #38b6ff;
}

.blue-line2 {
    display: flex;
    align-self: center;
    margin-top: -70px;
    margin-bottom: 65px;
    width: 200px;
    height: 4px;
    background-color: #38b6ff;
}

.kontakt-section {
    display: flex;
    width: 1440px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 850px;
    background: url(kontakt-section-img.png);
    background-size: cover;
    margin-bottom: 50px;
}

.kontakt-title {
    font-size: calc(110rem/16);
    margin: -70px 0 -40px 75px;
    align-self: flex-start;
    z-index: 1;
    cursor: default;
    transition: .3s;
}

.kontakt-title:hover {
    transform: rotate(-5deg);
}

.kontant-content-container {
    display: flex;
    flex-direction: row;
}

.kontakt-content {
    width: 650px;
    height: 500px;
    background-color: #26afff;
    border-radius: 30px 0 0 30px;
}

.kontakt-img-container {
    overflow: hidden;
    border-radius: 0 30px 30px 0;   
    height: 500px;
}

.kontakt-img {
    width: 650px;
    height: 500px;
    background: url(home-kontakt.jpg);
    background-size: cover;
    border-radius: 0 30px 30px 0;   
    transition: .5s;
    margin-left: -1px;
}

.kontakt-img:hover {
    transform: scale(1.1); 
}

.content-title {
    font-size: calc(40rem/16);
    width: 600px;
    margin: 70px 0 0 50px;
    color: #1c1c1c;
}

.content-gmail {
    font-size: calc(40rem/16);
    width: 300px;
    margin: 40px 0 0 50px;
    color: white;
    transition: .3s;
}

.content-gmail:hover {
    color: black;
}

.app-icons-title {
    font-size: calc(18rem/16);
    width: 600px;
    margin: 80px 0 0 50px;
    color: #1c1c1c;
}

.app-icons {
    display: flex;
    margin: 20px 0 0 50px;
}

.app-icons i {
    font-size: calc(25rem/16);
    color: #1c1c1c;
    margin: 0 10px 0 0;
    transition: .2s;
}

.app-icons i:hover {
    color: #30898d;
    font-size: calc(28rem/16);
}