@media only screen and (min-width:480px) {

.o-nama-main {
    width: 1440px;
    height: 1850px;
    background-color: white;    
}

.o-nama-hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 500px;
    background: url(./o-nama2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% 96%;
}

.o-nama-hero-section h1 {
    font-size: calc(80rem/16);
    margin-right: 400px;
    margin-bottom: 50px;
    color: #f5f5f5;
    text-shadow: 2px 0px 7px #8a8a8a;
}

.o-nama-content-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 500px;
}

.o-nama-content-container {
    display: flex;
    flex-direction: column;
    width: 570px;
    height: 420px;
    margin: 115px 0 0 -60px;
}

.o-nama-content-container h5 {
    margin: 85px 0 5px 0;
    font-size: calc(43rem/16);
}

.decor-line {
    width: 160px;
    height: 4px;
    background-color: #11a4fa;
    margin: 0px 0 28px 28px;
}

.o-nama-content-container p {
    width: 500px;
    font-size: calc(18rem/16);
}

.o-nama-image-container {
    display: flex;
    width: 520px;
    height: 420px;
    margin: 160px 0 0 -30px;
    overflow: hidden;
    border-radius: 20px;
    z-index: 0;
}

.o-nama-img {
    display: flex;
    background-size: cover;
    border-radius: 20px;
    transition: .5s;
}

.o-nama-img:hover {
    transform: scale(1.1);
}

.onama-kontakt-section2 {
    display: flex;
    width: 1440px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 830px;
    background-size: cover;
    margin-bottom: 50px;
}

.onama-kontakt-title2 {
    font-size: calc(70rem/16);
    margin: -20px 0 -15px 280px;
    align-self: flex-start;
    z-index: 1;
    cursor: default;
    transition: .3s;
}

.onama-kontakt-title2:hover {
    transform: rotate(-5deg);
}

.onama-kontant-content-container2 {
    display: flex;
    flex-direction: row;
    margin-top: 170px;
}

.onama-kontakt-content-container2 {
    display: flex;
}

.onama-kontakt-content2 {
    width: 570px;
    height: 450px;
    background-color: #38B6FF;
    margin-left: -20px;
    border-radius: 30px 0 0 30px;
    
}

.onama-kontakt-img-container2 {
    overflow: hidden;
    border-radius: 0 30px 30px 0;
    height: 450px;
    
}

.onama-kontakt-img2 {
    width: 570px;
    height: 450px;
    background-size: cover;
    border-radius: 0 30px 30px 0;
    transition: .5s;
    margin-left: -1px;
}

.onama-kontakt-img2:hover {
    transform: scale(1.1);
}

.onama-content-title2 {
    font-size: calc(35rem/16);
    width: 500px;
    margin: 40px 0 0 50px;
    color: #fff;
    text-shadow: 3px 3px 12px #3b3b3b;
}

.onama-content-gmail2 {
    font-size: calc(28rem/16);
    width: 300px;
    margin: 40px 0 0 50px;
    color: #fff;
    transition: .3s;
    text-decoration: underline;
    text-shadow: 3px 3px 12px #3b3b3b;
}

.onama-content-gmail2:hover {
    color: #1c1c1c;
}

.onama-app-icons-title2 {
    font-size: calc(18rem/16);
    width: 600px;
    margin: 40px 0 0 50px;
    color: #fff;
    text-shadow: 3px 3px 12px #3b3b3b;
}

.onama-app-icons2 {
    display: flex;
    margin: 15px 0 0 50px;
}

.onama-app-icons2 i {
    font-size: calc(25rem/16);
    color: #fff;
    margin: 0 10px 0 0;
    transition: .2s;
    text-shadow: 3px 3px 12px #3b3b3b;
}

.onama-app-icons2 i:hover {
    color: #1c1c1c;
}

.onama-app-icons-title3 {
    font-size: calc(18rem/16);
    width: 600px;
    margin: 30px 0 0 50px;
    color: #fff;
    text-shadow: 3px 3px 12px #3b3b3b;
}

.onama-app-icons3 {
    display: flex;
    margin: 13px 0 0 50px;
}

.onama-app-icons3 i {
    font-size: calc(25rem/16);
    color: #fff;
    margin: 0 10px 0 0;
    transition: .2s;
    text-shadow: 3px 3px 12px #3b3b3b;
}

.onama-app-icons3 i:hover {
    color: #1c1c1c;
}

#onama-wa {
    font-size: calc(27rem/16);
    margin-top: -2px;
}

#onama-mail {
    font-size: calc(26rem/16);
    margin-top: -1px;
}

#onama-tel {
    font-size: calc(21rem/16);
    margin-top: 2px;
}

.onama-decor-text-div {
    width: 50px;
    height: 50px;
    background-color: #38B6FF;
    opacity: .4;
    border-radius: 50%;
    margin: 35px 0 0 40px;
}

.onama-decor-text-div2 {
    width: 70px;
    height: 70px;
    background-color: #38B6FF;
    opacity: .7;
    border-radius: 50%;
    margin: -25px 0 0 0px;
}

.onama-decor-title-div {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #38B6FF;
    opacity: .4;
    border-radius: 50%;
    margin: 98px 0 0 350px;
}

.onama-decor-title-div2 {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: #38B6FF;
    opacity: .7;
    border-radius: 50%;
    margin: 58px 0 0 370px;
}

.decor-div {
    position: absolute;
    width: 200px;
    height: 500px;
    background-color: #38B6FF;
    margin: -40px 0 0 375px;
    z-index: -1;
}

#decor-line {
    width: 300px;
    height: 4px;
    background-color: #38B6FF;
}

}

#kontakt-decor-title-div {
    border-radius: 25%;
    margin-left: 400px;
}

#kontakt-decor-title-div2 {
    border-radius: 25%;
    margin-left: 423px;
    margin-top: 50px;
}

#kontakt-decor-text-div {
    border-radius: 25%;
}

#kontakt-decor-text-div2 {
    border-radius: 25%;
}

#o-nama-image-container {
    border-radius: 0;
}

#o-nama-image-container img {
    border-radius: 0;
}

#decor-div {
    border-radius: 20px;
}